/.vs
/.vsconfig
/Library
/Logs
/obj
/Packages
/*.csproj
/*.sln
/Assets/HotFixApp~/obj
/Assets/HotFixApp~/bin
/Assets/HotFixCore~/bin
/Assets/HotFixCore~/obj
/Assets/HotFixCore~/Properties
/Assets/HotFixData~/bin
/Assets/HotFixData~/obj
/Assets/HotFixData~/Properties
/Assets/HotFixUI~/obj
/Assets/HotFixUI~/bin
